 .u-section-1 {
  min-height: 70px;
  background-image: linear-gradient(#000007, rgba(255,255,255,0));
}

.u-section-1 .u-group-1 {
  min-height: 70px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 0px;
  font-size: 1rem;
  border-style: solid;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  font-weight: 500;
  background-image: none;
  margin: 13px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 140px;
  height: 28px;
  margin: -37px auto 0 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-btn-1 {
    margin-top: 14px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -36px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 23px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -28px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 120px;
    height: 24px;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-image-1 {
    width: 110px;
    height: 22px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1465px;
}

.u-section-2 .u-image-1 {
  height: 799px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-shape-1 {
  height: 264px;
  margin-top: -264px;
  margin-bottom: 0;
}

.u-section-2 .u-shape-2 {
  width: calc(((100% - 1320px) / 2) + 982px);
  height: 799px;
  margin: -799px auto 0 0;
}

.u-section-2 .u-group-1 {
  min-height: 796px;
  margin-top: -799px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 90px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 619px 0 1px;
}

.u-section-2 .u-text-2 {
  font-weight: normal;
  font-size: 1.125rem;
  margin: 20px 619px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  line-height: 1.5999999999999999;
  margin: 20px 619px 0 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 600;
  letter-spacing: 1px;
  border-style: solid;
  margin: 20px 619px 0 0;
  padding: 12px 103px 12px 102px;
}

.u-section-2 .u-btn-2 {
  font-weight: 600;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  margin: 20px 619px 0 0;
  padding: 12px 90px 12px 89px;
}

.u-section-2 .u-btn-3 {
  font-weight: 600;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 12px 90px 12px 89px;
}

.u-section-2 .u-text-4 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 55px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1189px;
  margin: 35px auto 50px;
}

.u-section-2 .u-image-2 {
  min-height: 517px;
  background-image: url("images/basic-plan.svg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 20px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: solid;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 421px auto 0;
}

.u-section-2 .u-image-3 {
  min-height: 517px;
  background-image: url("images/standar-plan.svg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 20px;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  border-style: solid;
  font-weight: 600;
  letter-spacing: 1px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 421px auto 0;
}

.u-section-2 .u-image-4 {
  min-height: 517px;
  background-image: url("images/premium-plan.svg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 20px;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  border-style: solid;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 421px auto 0;
}

@media (max-width: 1399px) {
   .u-section-2 {
    min-height: 1390px;
  }

  .u-section-2 .u-image-1 {
    height: 699px;
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 1140px) / 2) + 982px);
    height: 699px;
    margin-top: -699px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -699px;
    min-height: 699px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.8125rem;
    width: auto;
    margin-right: 539px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 539px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 539px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 439px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 439px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -547px;
    width: 1140px;
  }

  .u-section-2 .u-image-2 {
    min-height: 496px;
  }

  .u-section-2 .u-image-3 {
    min-height: 496px;
  }

  .u-section-2 .u-image-4 {
    min-height: 496px;
  }
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1365px;
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-text-1 {
    font-size: 2.625rem;
    margin-right: 339px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 339px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 339px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 239px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 239px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: -1152px;
  }

  .u-section-2 .u-image-2 {
    min-height: 409px;
  }

  .u-section-2 .u-image-3 {
    min-height: 409px;
  }

  .u-section-2 .u-image-4 {
    min-height: 409px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1825px;
  }

  .u-section-2 .u-image-1 {
    height: 631px;
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 720px);
    height: 632px;
    margin-top: -631px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -632px;
    min-height: 632px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.375rem;
    margin-right: 245px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 245px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 245px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 79px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 79px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: -144px;
  }

  .u-section-2 .u-image-2 {
    min-height: 525px;
  }

  .u-section-2 .u-image-3 {
    min-height: 525px;
  }

  .u-section-2 .u-image-4 {
    min-height: 524px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 369px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 2416px;
  }

  .u-section-2 .u-image-1 {
    object-position: 100% 50%;
  }

  .u-section-2 .u-shape-1 {
    height: 390px;
    margin-top: -390px;
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-group-1 {
    min-height: 535px;
    margin-top: -300px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 427px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-left: 53px;
    margin-right: 53px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 15px;
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-2 .u-btn-1 {
    align-self: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-2 {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-left: auto;
    padding-right: 105px;
    padding-left: 105px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 50px;
    margin-bottom: -252px;
  }

  .u-section-2 .u-image-2 {
    min-height: 477px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 353px;
  }

  .u-section-2 .u-image-3 {
    min-height: 477px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 353px;
  }

  .u-section-2 .u-image-4 {
    min-height: 477px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 363px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 2509px;
  }

  .u-section-2 .u-image-1 {
    object-position: 89.31% 50%;
  }

  .u-section-2 .u-shape-1 {
    height: 414px;
    margin-top: -414px;
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-group-1 {
    margin-top: -341px;
    min-height: 495px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.75rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
    line-height: 1;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    padding: 11px 66px 13px 64px;
  }

  .u-section-2 .u-btn-2 {
    padding-left: 52px;
    padding-right: 52px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 21px;
    padding-right: 68px;
    padding-left: 67px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    min-height: 529px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 405px;
  }

  .u-section-2 .u-image-3 {
    min-height: 538px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 414px;
  }

  .u-section-2 .u-image-4 {
    min-height: 538px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 424px;
  }
} .u-section-3 {
  min-height: 489px;
}

.u-section-3 .u-group-1 {
  min-height: 489px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 0 90px;
}

.u-section-3 .u-image-1 {
  width: 680px;
  height: 486px;
  margin: 2px 0 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: -283px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 20px 799px 0 0;
}

@media (max-width: 1399px) {
   .u-section-3 {
    min-height: 506px;
  }

  .u-section-3 .u-group-1 {
    min-height: 506px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 10px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -309px;
    margin-right: 680px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-right: 680px;
  }
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 397px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 358px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-3 .u-image-1 {
    width: 497px;
    left: auto;
    right: 30px;
    height: auto;
    margin: initial;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-right: 510px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 13px;
    margin-right: 610px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 613px;
  }

  .u-section-3 .u-group-1 {
    min-height: 544px;
    margin-top: 69px;
    margin-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    height: 464px;
    margin-top: 80px;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-3 .u-text-1 {
    width: 400px;
    margin-top: -542px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 558px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 10px;
    min-height: 548px;
  }

  .u-section-3 .u-image-1 {
    height: 423px;
    margin-top: 125px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-top: -533px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 415px;
  }

  .u-section-3 .u-group-1 {
    margin-bottom: 10px;
    min-height: 395px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 302px;
    margin-top: 90px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -384px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  min-height: 606px;
}

.u-section-4 .u-group-1 {
  margin-top: 0;
  margin-bottom: -17px;
  min-height: 606px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-image-1 {
  width: 263px;
  height: 447px;
  margin: 80px 0 0 auto;
}

.u-section-4 .u-image-2 {
  width: 432px;
  height: 437px;
  margin: -442px auto 0 0;
}

.u-section-4 .u-text-1 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: -255px auto 0;
}

@media (max-width: 1399px) {
   .u-section-4 {
    min-height: 549px;
  }

  .u-section-4 .u-group-1 {
    margin-bottom: 50px;
    min-height: 499px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 50px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -437px;
  }

  .u-section-4 .u-text-1 {
    width: 471px;
    margin-top: -319px;
  }
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 499px;
  }

  .u-section-4 .u-group-1 {
    margin-bottom: -9px;
  }

  .u-section-4 .u-image-1 {
    width: 192px;
    height: 334px;
    margin-top: 0;
  }

  .u-section-4 .u-image-2 {
    width: 298px;
    height: 315px;
    margin-top: -187px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: 421px;
    margin-top: -279px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 379px;
  }

  .u-section-4 .u-group-1 {
    margin-bottom: 0;
    min-height: 379px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-1 {
    width: 148px;
    height: 251px;
    margin-top: 45px;
  }

  .u-section-4 .u-image-2 {
    width: 270px;
    height: 273px;
    margin-top: -234px;
  }

  .u-section-4 .u-text-1 {
    width: 337px;
    margin-top: -221px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 446px;
  }

  .u-section-4 .u-group-1 {
    margin-bottom: 20px;
    min-height: 426px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    width: 135px;
    height: 229px;
    margin-top: 172px;
  }

  .u-section-4 .u-image-2 {
    width: 237px;
    height: 237px;
    margin-top: -229px;
  }

  .u-section-4 .u-text-1 {
    width: 439px;
    margin-top: -351px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 669px;
  }

  .u-section-4 .u-group-1 {
    margin-bottom: -364px;
    min-height: 649px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 17px;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    height: 253px;
    margin-top: 148px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -357px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-5 {
  min-height: 836px;
}

.u-section-5 .u-group-1 {
  margin-top: 0;
  margin-bottom: 40px;
  min-height: 796px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 90px;
}

.u-section-5 .u-text-1 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  line-height: 1.2;
  font-size: 1rem;
  margin: 6px auto 0;
}

.u-section-5 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-image-2 {
  height: 631px;
  margin: 42px auto 0;
}

@media (max-width: 1399px) {
   .u-section-5 {
    min-height: 816px;
  }

  .u-section-5 .u-group-1 {
    margin-bottom: -8px;
  }

  .u-section-5 .u-image-2 {
    height: 614px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 741px;
  }

  .u-section-5 .u-group-1 {
    margin-bottom: 13px;
    min-height: 701px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-image-2 {
    height: 546px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 658px;
  }

  .u-section-5 .u-group-1 {
    margin-bottom: 4px;
    min-height: 608px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    height: 443px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 863px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 1px;
    margin-bottom: 10px;
    min-height: 853px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
  }

  .u-section-5 .u-image-1 {
    height: 742px;
    margin-top: 6px;
  }

  .u-section-5 .u-image-2 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 693px;
  }

  .u-section-5 .u-group-1 {
    margin-bottom: -101px;
    min-height: 662px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    height: 497px;
    margin-top: 26px;
  }

  .u-section-5 .u-image-2 {
    height: 210px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  background-image: none;
  min-height: 569px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 9px auto 0;
}

.u-section-6 .u-group-1 {
  margin-top: 2px;
  margin-bottom: -3px;
  min-height: 354px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-accordion-1 {
  width: 800px;
  margin: 0 auto;
}

.u-section-6 .u-accordion-link-1 {
  background-image: none;
  font-weight: 500;
  text-transform: none;
  font-size: 1.125rem;
  padding: 20px 30px;
}

.u-section-6 .u-icon-1 {
  height: 25px;
  width: 25px;
}

.u-section-6 .u-accordion-pane-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-6 .u-accordion-link-2 {
  background-image: none;
  font-weight: 500;
  text-transform: none;
  font-size: 1.125rem;
  padding: 20px 30px;
}

.u-section-6 .u-icon-2 {
  height: 25px;
  width: 25px;
}

.u-section-6 .u-accordion-pane-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.125rem;
}

.u-section-6 .u-accordion-link-3 {
  background-image: none;
  font-weight: 500;
  text-transform: none;
  font-size: 1.125rem;
  padding: 20px 30px;
}

.u-section-6 .u-icon-3 {
  height: 25px;
  width: 25px;
}

.u-section-6 .u-accordion-pane-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-6 .u-accordion-link-4 {
  background-image: none;
  font-weight: 500;
  text-transform: none;
  font-size: 1.125rem;
  padding: 20px 30px;
}

.u-section-6 .u-icon-4 {
  height: 25px;
  width: 25px;
}

.u-section-6 .u-accordion-pane-4 {
  background-image: none;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.125rem;
}

@media (max-width: 991px) {
  .u-section-6 .u-accordion-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-accordion-1 {
    width: 520px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 580px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 20px;
    margin-left: calc(((100% - 340px) / 2) + 37px);
    font-size: 1.5rem;
  }

  .u-section-6 .u-group-1 {
    min-height: 403px;
  }

  .u-section-6 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-7 {
  background-image: none;
  min-height: 216px;
}

.u-section-7 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 216px;
}

.u-section-7 .u-container-layout-1 {
  padding: 50px 30px;
}

.u-section-7 .u-group-2 {
  width: 437px;
  min-height: 113px;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
}

.u-section-7 .u-text-2 {
  font-size: 1rem;
  margin: -19px 69px 0 auto;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  margin: 15px auto 0 0;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  font-size: 0.875rem;
  margin: -22px 0 0 auto;
  padding: 0;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  font-size: 0.875rem;
  margin: 6px auto 0 0;
  padding: 0;
}

.u-section-7 .u-btn-4 {
  background-image: none;
  font-size: 0.875rem;
  margin: -22px 0 0 auto;
  padding: 0;
}

.u-section-7 .u-btn-5 {
  background-image: none;
  font-size: 0.875rem;
  margin: 6px auto 0 0;
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 120px;
  height: 37px;
  margin: -113px auto 0 1105px;
}

.u-section-7 .u-image-2 {
  width: 120px;
  height: 36px;
  margin: -37px auto 0 1240px;
}

.u-section-7 .u-icon-1 {
  width: 150px;
  height: 30px;
  margin: -36px auto 0 0;
  padding: 0;
}

.u-section-7 .u-text-3 {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.1;
  margin: 19px 1057px 0 0;
}

.u-section-7 .u-image-3 {
  width: 120px;
  height: 37px;
  margin: -37px auto 0 1240px;
}

@media (max-width: 1399px) {
  .u-section-7 .u-group-1 {
    min-height: 223px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 135px;
    margin-left: auto;
  }

  .u-section-7 .u-image-2 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 17px;
    margin-right: 948px;
  }

  .u-section-7 .u-image-3 {
    margin-top: -33px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 195px;
  }

  .u-section-7 .u-group-1 {
    min-height: 195px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-7 .u-group-2 {
    width: 358px;
    min-height: 114px;
    margin-left: 292px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-top: 20px;
    margin-right: 772px;
  }

  .u-section-7 .u-image-3 {
    margin-top: -39px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 446px;
  }

  .u-section-7 .u-group-1 {
    min-height: 446px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-group-2 {
    min-height: 112px;
    margin-top: 116px;
    margin-left: auto;
  }

  .u-section-7 .u-image-1 {
    margin-top: 56px;
    margin-right: auto;
    margin-left: 170px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -36px;
    margin-right: 170px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: -282px;
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    width: 434px;
    margin-top: 301px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-3 {
    margin-top: -111px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 455px;
  }

  .u-section-7 .u-group-1 {
    min-height: 455px;
    margin-bottom: -69px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-7 .u-group-2 {
    min-height: 113px;
    margin-top: 114px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-right: 68px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 51px;
    margin-left: 50px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -38px;
    margin-right: auto;
  }

  .u-section-7 .u-icon-1 {
    margin-top: -271px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 294px;
    margin-left: 43px;
    margin-right: 43px;
  }

  .u-section-7 .u-image-3 {
    margin-top: -115px;
    margin-right: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 522px;
  }

  .u-section-7 .u-group-1 {
    margin-bottom: 0;
    min-height: 522px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-7 .u-group-2 {
    margin-top: 111px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-1 {
    margin-top: 39px;
    margin-left: auto;
  }

  .u-section-7 .u-image-2 {
    margin-top: 15px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: -319px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 373px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-3 {
    margin-top: -95px;
    margin-right: auto;
  }
}.top-bar {
  width: 100%;
  position: fixed;
  z-index: 100;
}
.layer-gradient {
	background-image: linear-gradient(rgba(255,255,255,0),#000007db, #000007);
}
.btn-blur {
	backdrop-filter: blur(5px);
}
.layer-gradient-1 {
   background-image: linear-gradient(to left, rgba(255,255,255,0),#000007db, #000007);
}