 .u-section-1 {
  min-height: 822px;
}

.u-section-1 .u-group-1 {
  min-height: 1057px;
  height: auto;
  margin: 77px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 35px 70px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-bottom: 62px;
    min-height: 948px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-bottom: -388px;
    min-height: 1072px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-bottom: -940px;
    min-height: 1305px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    margin-bottom: -500px;
    min-height: 1054px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}